{% extends 'master.html' %}

{% block main %}
    <div class="mt-5">
        <div class="jumbotron bg-success"  style='border-radius: 0' >
            <div class="container text-center text-white display-4 font-weight-bold" style=" font-family: 'Averia Serif Libre', cursive;">
                Disclaimer
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="container" style="font-family: 'Averia Serif Libre', cursive; font-size: 1.3rem; text-align: justify">
                    <p>All logos and Trademarks used in this Blog belongs to there respective owners.

                    <p>Please keep in mind that we are also humans, so sometimes mistakes or errors might have crept in unintentionally.</p>

                    <p>Your access to and use of the website is conditioned on your acceptance of and compliance with these terms. These terms apply to all visitors, users and others who access or use the website.</p>

                    <p>By accessing or using the website you agree to be bound by these terms. If you disagree with any part of the terms then you may not access this website.</p>

                    <p>Our Website may contain links to third-party websites or services that are not owned or controlled by <strong>Dellab</strong>.</p>

                    <p><strong>Dellab</strong> has no control over and assumes no responsibility for, the content, privacy policies, or practices of any third party websites or services. You further acknowledge and agree that <strong>Dellab</strong> shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such websites or services </p>

                    <p>If any logo, image or content on our websites violates the copyright norms, contact us we will remove the content, trademark/logo from our website within 3 days.</p>
                </div>
            </div>
        </div>  
    </div>

{% endblock main %}