{% extends 'master.html' %}
{% block title %}
    Find latest article about Django, Python, Linux, Windows
{% endblock title %}
{% block main %}
    <div  class="container mt-5">
        <div class="row justify-content-center mx-auto my-auto">
            {% for django in blogs %}
                <div class="col-md-4 mt-5">
                    <div class="card bg-white h-100" data-aos="zoom-in-up" style=" font-family: 'Averia Serif Libre', cursive; border-top: 5px solid green; border-radius:1.6 rem background-color: #ffffff;">
                        <a href={{ django.get_absolute_url }} " style='text-decoration: none;'>
                            <div class="card-body">
                                <h5 class="card-title text-success text-align-center font-weight-bold" style='font-size: 1.6rem; justify-content: center'>{{django.title|safe}}</h5>
                                <p class="card-text text-secondary" style='font-size: 1.3rem; justify: center'>{{django.content|truncatechars:144|safe}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock main %}

{% block script %}
    <script>
        $(document).ready(function () {
            $(".card").hover(
            function () {
                $(this).addClass("shadow bg-white");
            },
            function () {
                $(this).removeClass("shadow bg-white");
            }
            );
        });
    </script>
{% endblock script %}